/* Add CSS Styling */
.oddNum {
    background-color: #ffb09c;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.oddNum.mid {
    font-size: 24px
}

#secondEle {
    color: blue;
    font-size: 36px;
}

#fourthEle {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: 700;
}