/* Add CSS Styling */
.oddNum {
    background-color: #ffb09c;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.oddNum.mid {
    font-size: 20px
}

.secondEle {
    color: blue;
    font-size: 36px;
}